name: CI

on:
  pull_request:
  merge_group:

permissions:
  contents: read

env:
  CI: true

jobs:
  check:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: [lts/*]
        include:
          - os: macos-latest
            node_version: lts/*
          - os: windows-latest
            node_version: lts/*
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node ${{ matrix.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: pnpm
  
      - name: Install dependencies
        run: pnpm install

      - name: Lint code
        run: pnpm run format
        continue-on-error: false 

      - uses: autofix-ci/action@v1
        with:
          fail-fast: false

      - name: Run build
        run: pnpm run build
        continue-on-error: false

      - name: Run test
        run: pnpm run test:ci
        continue-on-error: false
  
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
  
      - name: Install dependencies
        run: pnpm install
        continue-on-error: false

      - name: Build
        run: pnpm run build
        continue-on-error: false

      - run: pnpm dlx pkg-pr-new publish

      - name: version-patch
        uses: Yuxu-Palace/yuheng-dispatch@alpha
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # 版本管理配置
          version-prefix: 'v'
          supported-branches: 'main,beta,alpha'
          enable-changelog: 'true'
          
          # npm 发布配置
          enable-npm-publish: 'true'
          npm-token: ${{ secrets.NPM_TOKEN }}
          npm-registry: 'https://registry.npmjs.org/'
          npm-access: 'public'
